/* Basic Flexbox & Grid Elements  */
.flex-twothirds {
    flex: 2 auto;
}
.flex-square {
    flex: 1 auto;
    display:flex;
    justify-content: center;
}

.flex-container {
    display:flex;
    flex-wrap: wrap;
}


/* Flex-Box Navbar (NB) 
with brand on left and links on right */
.l-nb-f {
    display: flex;
    flex-wrap: wrap;
}
.l-nb-item {
    flex: 1 0 auto;
}
.l-nb-start {
    align-self: stretch;
}
.l-nb-link-container {
    margin-left: auto;
    align-self: flex-end;
    display: flex;
}
.l-nb-link-container a {
    flex: 2 0 auto;
    padding:  1.25rem 1.125rem 0.625rem 1.125rem ; /* 18px */
}


/* Feature Content (FC) Grid and Flexbox with Background Image */
.l-fc {
    min-height: 424px;
    padding: 1.875rem 3.75rem 3.75rem 3.75rem;
}
.l-fc-f {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.l-fc-background {
    background-image: url(http://placehold.it/640x425);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}


/* Imgage Mockup */
.box-light {
    background-color: #cccccc;
}
.box-med {
    background-color: #b2b2b2;
}
.box-dark {
    background-color: #989898;
}
