/* =================================
  Base Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #000;
  background: #fff;
  font-family: sans-serif;
}
p {
  font-size: .95em;
  font-family: Times;
}

h2,h3 {
  display: inline;
  padding-bottom: 2px;
  border-bottom: solid #2a64f8 2px;
}

a {
	text-decoration: none;
}

i {
  color: #2a64f8;
}
img {
  max-width: 100%;
  margin: 1em 0;
}
figure {
  margin: 0;
  line-height: 0;
  position: relative;
}
figcaption {
  font-size: .9em;
  line-height: 1.5;
  color: #fff;
  background: rgba(42,100,248, .5);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}


/* =================================
Layout Styles
==================================== */

/*-- Navigation -- */

.name {
  font-size: 1.95rem;
  letter-spacing: .2rem;
  margin: 0;
}

.main-nav {
  margin: 5px 0 0 0;
  padding: 0;
  text-align: center;
}

.name a,
.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}

.main-nav a {
  font-size: .95em;
  color: #2a64f8;
  text-transform: uppercase;
}

.main-nav li {
  list-style: none;
  display: inline-block;
}

.main-nav a i {
  font-size: 1.5em;
}
.main-nav a:hover, .main-nav a i:hover {
  color: red;
}
a:visited {
  color: #2a64f8;
}


/*-- layout containers --*/

.main-header {
  padding: .35em 0;
}

.banner,
.main-footer {
  text-align:center;
}

.banner {
  color: #fff;
  background: #2a64f8;
  margin-bottom: 24px;
  padding: 3.2em 0;
}

.col {
  padding-right: 1em;
  padding-left: 1em;
}

.main-footer {
  padding: 2em 0;
  margin-top: 30px;
}

/* ---- Page Elements---- */
.logo {
  min-width: 20%;
  max-width: 125px;
  padding: 0 5%;
}
.headline {
  padding: 0 5%;
  margin-bottom: 0;
}
#tagline {
  margin-bottom: 15px;
  font-style: italic;
}
.icon-logo {
  width: 35px;
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: #2a64f8;
  border-radius: 50%;
}


/* =================================
Media Queries
==================================== */


@media (min-width: 769px) {

  .main-header {
    position: fixed;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    width: 100%;
    top: 0;
    z-index: 10;
  }

  .header-inner, .row {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
  }

  .header-inner, .main-nav {
    display: flex;
  }

  .header-inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .row {
    flex-wrap: wrap;
  }

  .main{
   width: 90%;
   padding: 0 10px;
   border: solid #2a64f8 2px;
  }

  .col {
    flex: 1 50%;
  }

  .secondary {
    order: -1;
  }

  .tagline {
    font-size: 1.4em;
  }
}


@media (min-width: 1025px) {
  .col {
    flex-basis: 0;
  }
  .primary {
    flex-grow: 1.4;
  }

}
