
  <footer class="container">

  <div class="et__footer">
  {% if site.copyright.name %}
  <div class="col-md-4 text-center">All rights reserved by <a target="_blank" href="{{site.copyright.link}}">{{site.copyright.name}}</a></div>
    {% endif %}

  <div class="col-md-4 text-center">Site development by  <a target="_blank" href="https://github.com/digitalscraps">{% if site.built-by %}</a></div>



  {% endif %}
  </div>
  <div class="col-md-4 text-center">
      <a target="_blank" href="{{site.soundcloud}}"><li class="social soundcloud"><i class="fa fa-soundcloud" aria-hidden="true"></i></li></a>
      <a target="_blank" href="{{site.bandcamp}}"><li class="social bandcamp"><i class="fa fa-bandcamp" aria-hidden="true"></i></li></a>
      <a target="_blank" href="{{site.github}}"><li class="social github"><img src="{{site.baseurl}}/images/github.svg" alt="{{site.github}}"></li></a>
  </div>

  </div>

</footer>
